# Dependencies
node_modules/

# Expo
.expo/
.expo-shared/

# Build files
dist/
web-build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.local

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/